<!doctype html>
<html>
<head>
    <title>The Christmas Network</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/site.css') }}"/>
</head>
<body>
<img src="static/appPhotos/1.jpg" id="header" alt=""/>
<div id="container">
<div id="allPosts" style=></div>
</div>
<!-- Templates -->
<script type="text/template" id="tpl-post-details">
    <table>
        <tr>
        <td class = "postUserPhoto">
            <img src= "/static/image/<%= userPic %>" alt="user_photo" height="70px" width="70px">
        </td>
        <td>
            <ul class = "postDetails">
                <li><a href='#user/<%= user.id %>'><%= user.firstname %></a> <small> at <%= date %></small></li>
                <li class="postTitle"><%= title %></li>
                <li class="postContent"><textarea readonly><%= content %></textarea></li>
            </ul>
        </td>
        </tr>
    </a></table>
</script>


{% include 'scripts.html' %}
</div>
</body>
</html>