<!doctype html>
<html>
<head>
    <title>The Christmas Network</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/site.css') }}"/>
</head>
<body>
<div class="container">
    <div id="menu" class="menu cf"></div>
    <h1>Christmas</h1>

    <div id="content"></div>
</div>
{% include 'scripts.html' %}
<!--<script src="js/collections/posts.js"></script>
<script src="js/collections/users.js"></script>-->
<script>
    window.onload = function () {
       function testCreate() {
                // Lets perform a create operation [CREATE]
            var post = new Post({ title: "backbone" });
            post.save({}, {
                type: "POST",
                success: function (model, respose, options) {
                    console.log("The model has been saved to the server");
                },
                error: function (model, xhr, options) {
                    console.log("Something went wrong while saving the model");
                }
            });
        }
        testCreate();
    }
</script>
</body>
</html>