<script src="{{ url_for('static', filename='js/lib/jquery-1.11.3.min.js' ) }}"></script>
<script src="{{ url_for('static', filename='js/lib/underscore.js' ) }}"></script>
<script src="{{ url_for('static', filename='js/lib/backbone-min.js' ) }}"></script>
<script src="{{ url_for('static', filename='js/App.js' ) }}"></script>
<script src="{{ url_for('static', filename='js/models/user.js' ) }}"></script>
<script src="{{ url_for('static', filename='js/models/picture.js' ) }}"></script>
<script src="{{ url_for('static', filename='js/models/post.js' ) }}"></script>
